doctype html
html
  include snippets/head
  body

    .drop-files-container

    input(id="upload-input" type="file" name="uploads[]" multiple="multiple")

    .popover_upload
      h3 Envoi de fichiers en cours
      .progress-bar


    .slides-list


    .titre
      .titre-wrapper
        h1 #{confName}

    .js--templates
      .slide.js--fixedslide.js--imageSlide
        .slide--item.slide--item_image.js--interactevents
          img.shadowed
      .slide.js--fixedslide.js--videoSlide
        .slide--item.slide--item_video.js--interactevents
          video(controls)
            source()



        img.shadowed(src='9782234105225_cover.png')


    include snippets/footer
    script( src='/js/pages/conf.js')

