doctype html
html
  include snippets/head
  body

    .drop-files-container

    input(id="upload-input" type="file" name="uploads[]" multiple="multiple")
    .progress-bar

    .medias-list
      ul

    .titre
      .titre-wrapper
        h1 Baking
        h1 Projects
    .elif
      h3 elif - 29 mars 2016
      h3 Angeline Ostinelli & Sarah Garcin

    .js--templates
      li.image
        img
      li.video
        video(controls)
          source()
      li.pdf
        a

    .slide.js--fixedslide
      .image_item.js--interactevents
        img.shadowed(src='11-relire.jpg')

    .slide.js--fixedslide
      .image_item.js--interactevents
        img.shadowed(src='9782130682301_cover.png')

    .slide.js--fixedslide
      .image_item.js--interactevents
        img.shadowed(src='9782234105225_cover.png')


    include snippets/footer
    script( src='/js/pages/conf.js')

