doctype html
html
  head
    include templates/head
  body.index

    h1 Conf tool

    .slide
      .image_item
        img.shadowed(src='1-couvertures_generatives/1-relire.jpg')
    .slide
      .image_item
        img.shadowed(src='1-couvertures_generatives/2-relire.png')
    .slide
      .image_item
        img.shadowed(src='1-couvertures_generatives/3-bookcoverunavailable.png')

    include templates/footer
    script(src='/js/index.js')


