doctype html
html
  head
    include templates/head
  body.index

    #intro
      h1 Conf tool

    .slide.js--fixedslide
      .image_item.js--draggable
        img.shadowed(src='1-couvertures_generatives/1-relire.jpg')

    .slide.js--fixedslide
      .image_item.js--draggable
        img.shadowed(src='1-couvertures_generatives/2-relire.png')

    .slide.js--fixedslide
      .image_item.js--draggable
        img.shadowed(src='1-couvertures_generatives/3-bookcoverunavailable.png')

    include templates/footer

