doctype html
html
  head
    include templates/head
  body.index

    .navbar-container.is--opened
      header.navbar

    #container.row.mainContent
      ul.dossier-list

    include templates/footer
    script(src='/js/index.js')


