doctype html
html
  include snippets/head
  body


    .container
      #intro
        h1 diapojs

      h2 Liste des conférences
      .dossier-list
        .dossier.dossier_newconfform
          form(onsubmit='return false;' class='add-new-conf-form')
            h6 créer une conférence
            .title
              input(type="text" class="title" placeholder='Titre')
            .meta-data
              input(type="text" class="lieu" placeholder='Lieu')
              input(type="date" class="date" placeholder='Date')
              input(type="text" class="auteur" placeholder='Auteur(s)')
              input(type='submit' class='js-add-conf' value='ajouter')

    .js--templates
      .dossier(data-nom)
        .dossier-inside
          a.folder-link(href title)
            .title
          .meta-data
            .lieu
              h4 lieu
              span
            .date
              h4 date
              span
            .auteur
              h4 auteur
              span

    include snippets/footer
    script( src='/js/pages/index.js')

