doctype html
html
  include snippets/head
  body

    #intro
      h1 Conf tool

    div.container
      div.row
        div.left.large-6.columns
          div.text
        div.right.large-6.columns
          div.add-new-conf-wrapper
            form(onsubmit='return false;' class='add-new-conf-form')
              input(type="text" class="lieu" placeholder='Lieu')
              input(type="date" class="date" placeholder='Date')
              input(type="text" class="titre" placeholder='Titre')
              input(type="text" class="auteur" placeholder='Auteur(s)')
              input(type='submit' class='js-add-conf' value='Ajouter une nouvelle conférence')
          ul.dossier-list

    .js--templates
      li.dossier.small-6.medium-4.large-4.columns(data-nom)
        .dossier-inside
          .content
            a.folder-link(href title)
              h2.title
          .meta-data.row
            .lieu
            .date
            .auteur

    include snippets/footer
    script( src='/js/pages/index.js')

