script(src='/socket.io/socket.io.js')
script
  | var app = {};
  | app.currentFolder = "#{slugFolderName}";
  | app.currentProject = "#{slugProjectName}";
  | app.currentPubli = "#{slugPubliName}";
script( src='/strings.js')
script( src='/js/_global.js')
script moment.locale("#{strings.codelang}");
